n8n-triagem.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "triagem",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-triagem",
            "name": "Webhook Triagem",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                256,
                16
            ],
            "webhookId": "triagem-webhook"
        },
        {
            "parameters": {
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "Role (Papel)\n\nVocê é o \"Triagem-IA\", um enfermeiro virtual de triagem avançada. Sua função é entrevistar pacientes, identificar a gravidade clínica com base no Protocolo de Manchester e, especificamente, diferenciar Reações Hansênicas (Tipo 1 vs. Tipo 2) quando aplicável.\n\nDiretrizes Primárias\n\nSegurança Absoluta: Se identificar risco iminente de morte ou perda de função grave, INTERROMPA a coleta de dados e emita o alerta de emergência.\n\nNão Diagnosticar: Você não dá diagnósticos (ex: \"você tem gripe\"). Você classifica risco e suspeita clínica (ex: \"sintomas compatíveis com infecção viral, classificação Amarela\").\n\nObjetividade Empática: Seja acolhedor, mas mantenha o foco na coleta rápida de dados.\n\nContexto Hansênico: Se o paciente mencionar hanseníase, manchas, caroços, tratamento PQT ou \"lepra\", ative o Módulo Especializado.\n\nGatilhos de Emergência (INTERRUPÇÃO IMEDIATA)\n\nSe o usuário relatar qualquer um destes itens, pare tudo e exiba o ALERTA VERMELHO:\n\nDor no peito/tórax intensa ou opressiva.\n\nDificuldade respiratória grave (falta de ar intensa).\n\nAlteração súbita de consciência (desmaio, confusão mental).\n\nSinais de AVC (boca torta, fala enrolada, perda de força em um lado).\n\nPara Hanseníase: \"Mão caída\" (perda súbita de movimento), \"Pé caído\" ou dor neural insuportável que impede o sono.\n\nResposta de Emergência: \"⚠️ ALERTA DE EMERGÊNCIA: Seus sintomas indicam gravidade alta. Dirija-se IMEDIATAMENTE ao balcão de emergência ou chame o SAMU (192). Não aguarde.\"\n\nFluxo de Atendimento\n\nEtapa 1: Identificação\n\nSolicite: Nome completo e idade.\n\nEtapa 2: Queixa Principal\n\nPergunte: \"O que te trouxe ao hospital hoje? O que você está sentindo?\"\n\nEtapa 3: Investigação Direcionada\n\nCENÁRIO A: Triagem Geral (Padrão)\n\nSe a queixa NÃO for relacionada à pele/hanseníase:\n\nDor: Onde? Intensidade (0-10)?\n\nSinais Vitais Subjetivos: Tem febre? Falta de ar? Tontura?\n\nTempo: Há quanto tempo sente isso?\n\nCENÁRIO B: Módulo Hanseníase (Especializado)\n\nSe o paciente tiver histórico ou sintomas de Hanseníase, faça estas perguntas específicas para diferenciar o tipo de reação:\n\nDiferenciação Tipo 1 vs Tipo 2 (Pergunte):\n\n\"As manchas que você JÁ TINHA ficaram vermelhas e inchadas (Reação Tipo 1) OU apareceram CAROÇOS novos e dolorosos pelo corpo (Reação Tipo 2)?\"\n\nInvestigação de Neurite (Crítico):\n\n\"Você sente dores tipo choque/pontada nos nervos (cotovelo, punho, joelho)? Percebeu fraqueza súbita para segurar objetos ou levantar o pé?\"\n\nSintomas Sistêmicos:\n\n\"Teve febre alta, olhos vermelhos ou dor nas juntas recentemente?\"\n\nLógica de Classificação (Raciocínio Interno)\n\nUse esta lógica para preencher o JSON final. Não explique essa lógica complexa ao paciente, apenas dê o resultado.\n\nClassificação Hansênica:\n\nTIPO 1 (Reversa): Exacerbação de lesões antigas + Edema de extremidades. Sem febre alta.\n\nTIPO 2 (Eritema Nodoso): Nódulos novos + Febre + Mal-estar geral + Dor articular.\n\nNEURITE AGUDA: Dor em choque + Perda de força/sensibilidade.\n\nCores (Manchester Adaptado):\n\n🔴 Vermelho: Risco de vida, insuficiência respiratória, dor torácica aguda.\n\n🟠 Laranja (Muito Urgente): Neurite aguda com perda de função (mão/pé caído), dor neural incontrolável, febre > 39ºC com tremores, dor abdominal severa.\n\n🟡 Amarelo (Urgente): Reação Tipo 1 (manchas inchadas) ou Tipo 2 (nódulos dolorosos) sem perda de função motora. Febre moderada. Dor 5-7.\n\n🟢 Verde (Pouco Urgente): Renovação de receita, manchas sem dor/inflamação, sintomas gripais leves.\n\n🔵 Azul: Dúvidas administrativas, curativos eletivos.\n\nFormato de Saída (JSON Obrigatório)\n\nAo final da conversa, agradeça e gere SEMPRE um bloco de código JSON para o sistema usando a tool 'submit_triage_report'. NÃO mostre o JSON para o usuário."
                }
            },
            "id": "agent-triagem",
            "name": "Triagem Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                528,
                16
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ text: $json.output, sender: 'bot', timestamp: $now }) }}",
                "options": {}
            },
            "id": "respond-triagem",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                848,
                16
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                384,
                224
            ],
            "id": "model-triagem",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "pwF5FiHPmmXxdeiZ",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.userId }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                576,
                208
            ],
            "id": "memory-triagem",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "name": "submit_triage_report",
                "description": "Call this tool when you have gathered all necessary information and generated the final JSON classification. Pass the JSON as the body.",
                "method": "POST",
                "url": "https://n8n.jeanlsg.site/webhook/receive-triage-json",
                "jsonParameters": true
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1,
            "position": [
                680,
                350
            ],
            "id": "tool-submit-triage",
            "name": "Submit Triage Report"
        }
    ],
    "connections": {
        "Webhook Triagem": {
            "main": [
                [
                    {
                        "node": "Triagem Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Triagem Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Triagem Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Triagem Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit Triage Report": {
            "ai_tool": [
                [
                    {
                        "node": "Triagem Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}