n8n-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "PIBITI",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "fca290e8-a0a2-4503-a6d3-364a6c6be27d",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                256,
                16
            ],
            "webhookId": "pibiti-webhook"
        },
        {
            "parameters": {
                "text": "={{ $json.body.message }}",
                "options": {}
            },
            "id": "6726a90c-6dea-4063-adf7-3b6288ec61c8",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                528,
                16
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ text: $json.output, sender: 'bot', timestamp: $now }) }}",
                "options": {}
            },
            "id": "51ceed5c-0a53-4ed0-9b89-4d427ddff1bd",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                848,
                16
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                384,
                224
            ],
            "id": "58a69a8d-8811-4b82-bc99-c37353cc9b8a",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "pwF5FiHPmmXxdeiZ",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.userId }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                576,
                208
            ],
            "id": "bd83e22d-b391-4bf2-b4e3-bf27169bc725",
            "name": "Simple Memory"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "connection": "keep-alive",
                    "host": "n8n.jeanlsg.site",
                    "x-forwarded-scheme": "https",
                    "x-forwarded-proto": "https",
                    "x-forwarded-for": "45.188.47.105",
                    "x-real-ip": "45.188.47.105",
                    "content-length": "79",
                    "sec-ch-ua-platform": "\"Windows\"",
                    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
                    "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
                    "content-type": "application/json",
                    "sec-ch-ua-mobile": "?0",
                    "accept": "*/*",
                    "origin": "https://chatmodel-zxzi.vercel.app",
                    "sec-fetch-site": "cross-site",
                    "sec-fetch-mode": "cors",
                    "sec-fetch-dest": "empty",
                    "referer": "https://chatmodel-zxzi.vercel.app/",
                    "accept-encoding": "gzip, deflate, br, zstd",
                    "accept-language": "pt-BR,pt;q=0.9,en-CA;q=0.8,en;q=0.7,en-US;q=0.6"
                },
                "params": {},
                "query": {},
                "body": {
                    "message": "oi",
                    "userId": "558788465406",
                    "timestamp": "2025-11-29T02:55:28.002Z"
                },
                "webhookUrl": "https://n8n.jeanlsg.site/webhook/PIBITI",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "070806e0f4f59f81ad03d5b3d900c93dae693d158d932f8ec51c0a7fd2b30138"
    }
}