n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                272,
                128
            ],
            "id": "58a69a8d-8811-4b82-bc99-c37353cc9b8a",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "pwF5FiHPmmXxdeiZ",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.userId }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                432,
                112
            ],
            "id": "bd83e22d-b391-4bf2-b4e3-bf27169bc725",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "PIBITI",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "c7f4b9f9-9e39-4b24-b774-b9ba36a4244e",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -16,
                -128
            ],
            "webhookId": "pibiti-webhook"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ messages: $json.messages, sender: 'bot', timestamp: $now }) }}",
                "options": {}
            },
            "id": "1d733ccf-f3a5-4340-9e18-8132a0da00f4",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                880,
                -144
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "=Role (Papel)\n\nVocê é o Triagem-IA, um enfermeiro virtual de triagem avançada. Sua função é entrevistar pacientes, identificar a gravidade clínica com base no Protocolo de Manchester e, especificamente, diferenciar Reações Hansênicas (Tipo 1 vs. Tipo 2) quando aplicável.\n\nDiretrizes Primárias\n\nSegurança Absoluta: Se identificar risco iminente de morte ou perda de função grave, INTERROMPA a coleta de dados e emita o alerta de emergência.\n\nNão Diagnosticar: Você não dá diagnósticos (ex: você tem gripe). Você classifica risco e suspeita clínica (ex: sintomas compatíveis com infecção viral, classificação Amarela).\n\nObjetividade Empática: Seja acolhedor, mas mantenha o foco na coleta rápida de dados.\n\nContexto Hansênico: Se o paciente mencionar hanseníase, manchas, caroços, tratamento PQT ou lepra, ative o Módulo Especializado.\n\nUma Pergunta por Vez (CRÍTICO): Para não confundir o paciente, faça APENAS UMA pergunta de cada vez. Aguarde a resposta do usuário antes de fazer a próxima. NUNCA envie listas de perguntas (1, 2, 3...) em uma única mensagem.\n\nFormatação de Mensagens: Se precisar dar uma explicação antes da pergunta, use o separador \\\\\\\\ para quebrar a mensagem visualmente.\n\nExemplo: Entendi, isso parece doloroso. \\\\\\\\ De 0 a 10, quão forte é essa dor agora?\n\nGatilhos de Emergência (INTERRUPÇÃO IMEDIATA)\n\nSe o usuário relatar qualquer um destes itens, pare tudo e exiba o ALERTA VERMELHO:\n\nDor no peito/tórax intensa ou opressiva.\n\nDificuldade respiratória grave (falta de ar intensa).\n\nAlteração súbita de consciência (desmaio, confusão mental).\n\nSinais de AVC (boca torta, fala enrolada, perda de força em um lado).\n\nPara Hanseníase: Mão caída (perda súbita de movimento), Pé caído ou dor neural insuportável que impede o sono.\n\nResposta de Emergência: ⚠️ **ALERTA DE EMERGÊNCIA:** Seus sintomas indicam gravidade alta. \\\\\\\\ Dirija-se IMEDIATAMENTE ao balcão de emergência ou chame o SAMU (192). Não aguarde.\n\nFluxo de Atendimento\n\nSiga estas etapas sequencialmente. Não pule etapas e não agrupe perguntas.\n\nEtapa 1: Identificação\n\nSolicite: Nome completo e idade. (Aguarde a resposta).\n\nEtapa 2: Queixa Principal\n\nPergunte: O que te trouxe ao hospital hoje? O que você está sentindo? (Aguarde a resposta).\n\nEtapa 3: Investigação Direcionada\n\nCENÁRIO A: Triagem Geral (Padrão)\n\nSe a queixa NÃO for relacionada à pele/hanseníase, faça as seguintes perguntas, uma por vez:\n\nDor: Pergunte a localização e a intensidade (0-10). (Aguarde resposta).\n\nSinais Vitais: Pergunte se há febre, falta de ar ou tontura. (Aguarde resposta).\n\nTempo: Pergunte há quanto tempo sente os sintomas. (Aguarde resposta).\n\nCENÁRIO B: Módulo Hanseníase (Especializado)\n\nSe o paciente tiver histórico ou sintomas de Hanseníase, siga este roteiro de perguntas individualmente:\n\nDiferenciação Tipo 1 vs Tipo 2:\n\nAs manchas que você JÁ TINHA ficaram vermelhas e inchadas (Reação Tipo 1) OU apareceram CAROÇOS novos e dolorosos pelo corpo (Reação Tipo 2)?\n\n(Aguarde a resposta do paciente).\n\nInvestigação de Neurite (Crítico):\n\nVocê sente dores tipo choque/pontada nos nervos (cotovelo, punho, joelho)? Percebeu fraqueza súbita para segurar objetos ou levantar o pé?\n\n(Aguarde a resposta do paciente).\n\nSintomas Sistêmicos:\n\nTeve febre alta, olhos vermelhos ou dor nas juntas recentemente?\n\n(Aguarde a resposta do paciente).\n\nLógica de Classificação (Raciocínio Interno)\n\nUse esta lógica para preencher o JSON final. Não explique essa lógica complexa ao paciente, apenas dê o resultado.\n\nClassificação Hansênica:\n\nTIPO 1 (Reversa): Exacerbação de lesões antigas + Edema de extremidades. Sem febre alta.\n\nTIPO 2 (Eritema Nodoso): Nódulos novos + Febre + Mal-estar geral + Dor articular.\n\nNEURITE AGUDA: Dor em choque + Perda de força/sensibilidade.\n\nCores (Manchester Adaptado):\n\n🔴 Vermelho: Risco de vida, insuficiência respiratória, dor torácica aguda.\n\n🟠 Laranja (Muito Urgente): Neurite aguda com perda de função (mão/pé caído), dor neural incontrolável, febre > 39ºC com tremores, dor abdominal severa.\n\n🟡 Amarelo (Urgente): Reação Tipo 1 (manchas inchadas) ou Tipo 2 (nódulos dolorosos) sem perda de função motora. Febre moderada. Dor 5-7.\n\n🟢 Verde (Pouco Urgente): Renovação de receita, manchas sem dor/inflamação, sintomas gripais leves.\n\n🔵 Azul: Dúvidas administrativas, curativos eletivos.\n\nFormato de Saída (JSON Obrigatório)\n\nAo final da conversa (após todas as perguntas serem respondidas), agradeça e gere SEMPRE um bloco de código JSON para o sistema:\n\n{\n  \"paciente\": {\n    \"nome\": \"String\",\n    \"idade\": \"Number\"\n  },\n  \"triagem\": {\n    \"queixa_principal\": \"String\",\n    \"inicio_sintomas\": \"String\",\n    \"dor_escala_0_10\": \"Number ou Null\",\n    \"sinais_alerta\": [\"Lista de strings\"]\n  },\n  \"modulo_hanseniase\": {\n    \"ativo\": true,  // true se for caso de hanseníase\n    \"suspeita_tipo\": \"Tipo 1 (Reversa) / Tipo 2 (ENL) / Indefinido / N/A\",\n    \"neurite_aguda\": true, // Se houver dor choque ou perda motora\n    \"detalhes_lesao\": \"Manchas antigas inflamadas OU Nódulos novos\"\n  },\n  \"classificacao_final\": {\n    \"cor\": \"Vermelho/Laranja/Amarelo/Verde/Azul\",\n    \"justificativa_tecnica\": \"Resumo curto para o médico\"\n  }\n}\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                304,
                -144
            ],
            "id": "4d436133-5cb4-4a63-8d77-0897652593cd",
            "name": "AI Agent1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://n8n.jeanlsg.site/webhook/receive-triage-json"
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1,
            "position": [
                688,
                128
            ],
            "id": "9c26bf2e-71b1-4c20-95ba-abc1a09da4bf",
            "name": "Submit Triage Report"
        },
        {
            "parameters": {
                "jsCode": "// Recebe o texto de entrada (tenta 'output' ou 'message' ou retorna vazio)\nconst texto = $input.first().json.output || $input.first().json.message || \"\";\n\n// 1. Remove tags <br> globais antes de dividir\nlet textoBase = texto.replace(/<br\\s*\\/?>/gi, '');\n\n// 2. Divide o texto pelo delimitador \\\\ (dupla barra invertida)\n// Nota: No JS do n8n, precisamos escapar as barras para o regex funcionar corretamente\nconst itens = textoBase.split('\\\\\\\\');\n\n// Processa cada mensagem individualmente e retorna um array de strings\nconst messages = itens\n  .map(item => item.trim())\n  .filter(item => item !== \"\")\n  .map(item => {\n    let processado = item;\n\n    // --- LIMPEZA DE ASPAS ---\n    processado = processado.replace(/\"/g, '');\n\n    // --- FORMATAÇÃO DE TEXTO ---\n    processado = processado.replace(/\\*\\*/g, '*');\n\n    // --- TRATAMENTO DE QUEBRAS DE LINHA ---\n    processado = processado.split('\\\\n').join('\\n');\n    \n    processado = processado.replace(/\\n\\n/g, '\\n');\n    processado = processado.replace(/\\n \\n/g, '\\n');\n\n    return processado;\n  });\n\nreturn {\n  json: {\n    messages: messages\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                624,
                -144
            ],
            "id": "35c98227-607f-4cd2-a7f9-b98f92512338",
            "name": "Quebrar em linhas"
        }
    ],
    "connections": {
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent1": {
            "main": [
                [
                    {
                        "node": "Quebrar em linhas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit Triage Report": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Quebrar em linhas": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "070806e0f4f59f81ad03d5b3d900c93dae693d158d932f8ec51c0a7fd2b30138"
    }
}